In [1]:
import psycopg2

In [2]:
import pandas as pd

In [3]:
import streamlit as st

In [119]:
db_connection = psycopg2.connect(host="dpg-d1t45hmr433s73evet20-a.singapore-postgres.render.com",
                        user="krishna",
                        password="4YEGQ6WJavQHCDcyXmRH5ltplDbSZ3Bd",
                        database="krishna_agri",
                        port="5432")
print("Connection to PostgreSQL database successful!")

Connection to PostgreSQL database successful!

In [120]:
cursor = db_connection.cursor()

In [121]:
cursor.execute("SELECT version();")
db_version = cursor.fetchone()
print(f"PostgreSQL Database Version: {db_version}")

PostgreSQL Database Version: ('PostgreSQL 16.9 (Debian 16.9-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [122]:
command = """CREATE TABLE IF NOT EXISTS agri_statics (
dist_code INT NOT NULL,
year DATE NOT NULL,
state_code VARCHAR(100) NOT NULL,
state_name VARCHAR(100) NOT NULL,
district_name VARCHAR(100) NOT NULL,
rice_area  NUMERIC(10,4),
rice_production NUMERIC(10,4),
rice_yield NUMERIC(10,4), 
wheat_area NUMERIC(10,4),
wheat_production NUMERIC(10,4),
wheat_yield NUMERIC(10,4),
kharif_sorghum_area NUMERIC(10,4), 
kharif_sorghum_production NUMERIC(10,4),
kharif_sorghum_yield NUMERIC(10,4),
rabi_sorghum_area NUMERIC(10,4),
rabi_sorghum_production NUMERIC(10,4),
rabi_sorghum_yield NUMERIC(10,4),
sorghum_area NUMERIC(10,4),
sorghum_production NUMERIC(10,4),
sorghum_yield NUMERIC(10,4),
pearl_millet_area NUMERIC(10,4),
pearl_millet_production NUMERIC(10,4),
pearl_millet_yield NUMERIC(10,4), 
maize_area NUMERIC(10,4),
maize_production NUMERIC(10,4),
maize_yield NUMERIC(10,4), 
finger_millet_area NUMERIC(10,4),
finger_millet_production NUMERIC(10,4),
finger_millet_yield NUMERIC(10,4),
barley_area NUMERIC(10,4),
barley_production NUMERIC(10,4),
barley_yield NUMERIC(10,4), 
chickpea_area NUMERIC(10,4),
chickpea_production NUMERIC(10,4), 
chickpea_yield NUMERIC(10,4), 
pigeonpea_area NUMERIC(10,4),
pigeonpea_production NUMERIC(10,4),
pigeonpea_yield NUMERIC(10,4), 
minor_pulses_area NUMERIC(10,4),
minor_pulses_production NUMERIC(10,4), 
minor_pulses_yield NUMERIC(10,4), 
groundnut_area NUMERIC(10,4),
groundnut_production NUMERIC(10,4), 
groundnut_yield NUMERIC(10,4), 
sesamum_area NUMERIC(10,4),
sesamum_production NUMERIC(10,4),
sesamum_yield NUMERIC(10,4),
rapeseed_and_mustard_area NUMERIC(10,4),
rapeseed_and_mustard_production NUMERIC(10,4),
rapeseed_and_mustard_yield NUMERIC(10,4), 
safflower_area NUMERIC(10,4),
safflower_production NUMERIC(10,4),
safflower_yield NUMERIC(10,4), 
castor_area NUMERIC(10,4),
castor_production NUMERIC(10,4),
castor_yield NUMERIC(10,4), 
linseed_area NUMERIC(10,4),
linseed_production NUMERIC(10,4),
linseed_yield NUMERIC(10,4), 
sunflower_area NUMERIC(10,4),
sunflower_production NUMERIC(10,4),
sunflower_yield NUMERIC(10,4), 
soyabean_area NUMERIC(10,4),
soyabean_production NUMERIC(10,4),
soyabean_yield NUMERIC(10,4), 
oilseeds_area NUMERIC(10,4),
oilseeds_production NUMERIC(10,4),
oilseeds_yield NUMERIC(10,4), 
sugarcane_area NUMERIC(10,4),
sugarcane_production NUMERIC(10,4),
sugarcane_yield NUMERIC(10,4), 
cotton_area NUMERIC(10,4),
cotton_production NUMERIC(10,4),
cotton_yield NUMERIC(10,4), 
fruits_area NUMERIC(10,4),
vegetables_area NUMERIC(10,4),
fruits_and_vegetables_area NUMERIC(10,4), 
potato_area NUMERIC(10,4), 
onion_area NUMERIC(10,4),
fodder_area NUMERIC(10,4),
PRIMARY KEY (state_name,district_name)
)
"""
cursor.execute(command)

In [123]:
db_connection.commit()
cursor.close()
db_connection.close()

In [124]:
sheet_id = "1PHf2rFB53qUu7j8-r4qcHQdrhvxOyiyhyMWIY-nb_m8"
sheet_name = "sheet1"


url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
agric_df = pd.read_csv(url)

In [125]:
agric_df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [126]:
agric_df.columns

Index(['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name',
       'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)',
       'RICE YIELD (Kg per ha)', 'WHEAT AREA (1000 ha)',
       'WHEAT PRODUCTION (1000 tons)', 'WHEAT YIELD (Kg per ha)',
       'KHARIF SORGHUM AREA (1000 ha)',
       'KHARIF SORGHUM PRODUCTION (1000 tons)',
       'KHARIF SORGHUM YIELD (Kg per ha)', 'RABI SORGHUM AREA (1000 ha)',
       'RABI SORGHUM PRODUCTION (1000 tons)', 'RABI SORGHUM YIELD (Kg per ha)',
       'SORGHUM AREA (1000 ha)', 'SORGHUM PRODUCTION (1000 tons)',
       'SORGHUM YIELD (Kg per ha)', 'PEARL MILLET AREA (1000 ha)',
       'PEARL MILLET PRODUCTION (1000 tons)', 'PEARL MILLET YIELD (Kg per ha)',
       'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)',
       'MAIZE YIELD (Kg per ha)', 'FINGER MILLET AREA (1000 ha)',
       'FINGER MILLET PRODUCTION (1000 tons)',
       'FINGER MILLET YIELD (Kg per ha)', 'BARLEY AREA (1000 ha)',
       'BARLEY PRODUCTION (1000 tons)', 'BARLEY YIELD (Kg per ha)',
       'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)',
       'CHICKPEA YIELD (Kg per ha)', 'PIGEONPEA AREA (1000 ha)',
       'PIGEONPEA PRODUCTION (1000 tons)', 'PIGEONPEA YIELD (Kg per ha)',
       'MINOR PULSES AREA (1000 ha)', 'MINOR PULSES PRODUCTION (1000 tons)',
       'MINOR PULSES YIELD (Kg per ha)', 'GROUNDNUT AREA (1000 ha)',
       'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
       'SESAMUM AREA (1000 ha)', 'SESAMUM PRODUCTION (1000 tons)',
       'SESAMUM YIELD (Kg per ha)', 'RAPESEED AND MUSTARD AREA (1000 ha)',
       'RAPESEED AND MUSTARD PRODUCTION (1000 tons)',
       'RAPESEED AND MUSTARD YIELD (Kg per ha)', 'SAFFLOWER AREA (1000 ha)',
       'SAFFLOWER PRODUCTION (1000 tons)', 'SAFFLOWER YIELD (Kg per ha)',
       'CASTOR AREA (1000 ha)', 'CASTOR PRODUCTION (1000 tons)',
       'CASTOR YIELD (Kg per ha)', 'LINSEED AREA (1000 ha)',
       'LINSEED PRODUCTION (1000 tons)', 'LINSEED YIELD (Kg per ha)',
       'SUNFLOWER AREA (1000 ha)', 'SUNFLOWER PRODUCTION (1000 tons)',
       'SUNFLOWER YIELD (Kg per ha)', 'SOYABEAN AREA (1000 ha)',
       'SOYABEAN PRODUCTION (1000 tons)', 'SOYABEAN YIELD (Kg per ha)',
       'OILSEEDS AREA (1000 ha)', 'OILSEEDS PRODUCTION (1000 tons)',
       'OILSEEDS YIELD (Kg per ha)', 'SUGARCANE AREA (1000 ha)',
       'SUGARCANE PRODUCTION (1000 tons)', 'SUGARCANE YIELD (Kg per ha)',
       'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)',
       'COTTON YIELD (Kg per ha)', 'FRUITS AREA (1000 ha)',
       'VEGETABLES AREA (1000 ha)', 'FRUITS AND VEGETABLES AREA (1000 ha)',
       'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)',
       'FODDER AREA (1000 ha)'],
      dtype='object')

In [127]:
columns = ['dist_cod',
'year',
'state_code',
'state_name',
'district_name',
'rice_area',
'rice_production',
'rice_yield',
'wheat_area',
'wheat_production',
'wheat_yield',
'kharif_sorghum_area',
'kharif_sorghum_production',
'kharif_sorghum_yield',
'rabi_sorghum_area',
'rabi_sorghum_production',
'rabi_sorghum_yield',
'sorghum_area',
'sorghum_production',
'sorghum_yield',
'pearl_millet_area',
'pearl_millet_production',
'pearl_millet_yield',
'maize_area',
'maize_production',
'maize_yield',
'finger_millet_area',
'finger_millet_production',
'finger_millet_yield',
'barley_area',
'barley_production',
'barley_yield',
'chickpea_area',
'chickpea_production',
'chickpea_yield',
'pigeonpea_area',
'pigeonpea_production',
'pigeonpea_yield',
'minor_pulses_area',
'minor_pulses_production',
'minor_pulses_yield',
'groundnut_area',
'groundnut_production',
'groundnut_yield',
'sesamum_area',
'sesamum_production',
'sesamum_yield',
'rapeseed_and_mustard_area',
'rapeseed_and_mustard_production',
'rapeseed_and_mustard_yield',
'safflower_area',
'safflower_production',
'safflower_yield',
'castor_area',
'castor_production',
'castor_yield',
'linseed_area',
'linseed_production',
'linseed_yield',
'sunflower_area',
'sunflower_production',
'sunflower_yield',
'soyabean_area',
'soyabean_production',
'soyabean_yield',
'oilseeds_area',
'oilseeds_production',
'oilseeds_yield',
'sugarcane_area',
'sugarcane_production',
'sugarcane_yield',
'cotton_area',
'cotton_production',
'cotton_yield',
'fruits_area',
'vegetables_area',
'fruits_and_vegetables_area',
'potato_area',
'onion_area',
'fodder_area',
'ins_dt',
'mod_dt',
'mod_usr']

In [129]:
agri_df=pd.DataFrame(agric_df,columns = columns)

In [130]:
agri_df

,dist_cod,year,state_code,state_name,district_name,rice_area,rice_production,rice_yield,wheat_area,wheat_production,...,cotton_yield,fruits_area,vegetables_area,fruits_and_vegetables_area,potato_area,onion_area,fodder_area,ins_dt,mod_dt,mod_usr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
agric_df=agric_df.insert(81,'ins_dt','')

AttributeError: 'NoneType' object has no attribute 'insert'

In [134]:
agri_df = agric_df.copy()

In [135]:
agric_df.describe()

,Dist Code,Year,State Code,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),WHEAT YIELD (Kg per ha),KHARIF SORGHUM AREA (1000 ha),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
count,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,...,16146.00000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000
mean,269.769231,1991.496841,9.568562,128.593192,224.889565,1486.924784,77.057946,182.012746,1492.419859,22.632268,...,4500.15306,28.018367,7.229225,124.644823,7.750478,11.086250,18.677877,3.177038,1.194604,21.550328
std,278.309125,15.011185,4.988538,160.078825,326.629828,956.185281,100.394479,348.834254,1081.255367,45.062714,...,3153.97042,74.239648,25.042132,207.681147,13.591135,18.003257,25.881842,8.029509,4.285067,60.062601
min,1.000000,1966.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,78.000000,1978.000000,6.000000,10.400000,9.460000,800.000000,1.770000,2.000000,750.000000,0.000000,...,2000.00000,0.000000,0.000000,0.000000,0.310000,1.600000,2.520000,0.000000,0.060000,0.000000
50%,156.000000,1991.000000,10.000000,66.800000,95.840000,1333.210000,36.800000,42.700000,1347.450000,2.050000,...,4502.21000,0.050000,0.000000,0.000000,2.220000,4.740000,8.945000,0.390000,0.280000,1.200000
75%,241.000000,2005.000000,12.000000,191.390000,315.715000,2113.517500,123.000000,215.192500,2131.580000,20.900000,...,6704.60500,10.097500,2.000000,202.270000,8.790000,12.510000,23.570000,3.150000,0.880000,16.762500
max,917.000000,2017.000000,20.000000,1154.230000,3215.010000,5653.830000,879.490000,4305.500000,5541.520000,334.800000,...,22062.30000,800.890000,376.610000,5000.000000,159.540000,200.060000,240.990000,111.610000,131.350000,1162.660000

In [136]:
agric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [137]:
agric_df.size

1291680

In [58]:
agric_df.shape

(16146, 80)

In [138]:
agric_df.isnull()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16143,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16144,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [139]:
agric_df.isnull().sum()

Dist Code                               0
Year                                    0
State Code                              0
State Name                              0
Dist Name                               0
                                       ..
VEGETABLES AREA (1000 ha)               0
FRUITS AND VEGETABLES AREA (1000 ha)    0
POTATOES AREA (1000 ha)                 0
ONION AREA (1000 ha)                    0
FODDER AREA (1000 ha)                   0
Length: 80, dtype: int64

In [141]:
agric_df=agric_df.dropna()

In [142]:
agric_df=agric_df.drop_duplicates()

In [143]:
agric_df.isnull()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16143,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16144,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [144]:
agri_df = agri_df.drop_duplicates()

In [145]:
agri_df = agri_df.dropna()

In [146]:
agri_df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [147]:
agri_df["State Name"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
16141    False
16142    False
16143    False
16144    False
16145    False
Name: State Name, Length: 16146, dtype: bool

In [148]:
agri_df["State Name"].unique()

array(['Chhattisgarh', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana',
       'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Rajasthan',
       'Punjab', 'Haryana', 'Uttar Pradesh', 'Uttarakhand', 'Assam',
       'Himachal Pradesh', 'Kerala', 'Orissa', 'West Bengal', 'Bihar',
       'Jharkhand'], dtype=object)

In [149]:
agri_df["Dist Name"].unique()

array(['Durg', 'Bastar', 'Raipur', 'Bilaspur', 'Raigarh', 'Surguja',
       'Jabalpur', 'Balaghat', 'Chhindwara', 'Narsinghpur',
       'Seoni / Shivani', 'Mandla', 'Sagar', 'Damoh', 'Tikamgarh',
       'Chhatarpur', 'Panna', 'Rewa', 'Sidhi', 'Satna', 'Shahdol',
       'Gwalior', 'Shivpuri', 'Guna', 'Datia', 'Morena', 'Bhind',
       'Indore', 'Ratlam', 'Ujjain', 'Mandsaur', 'Dewas', 'Dhar',
       'Jhabua', 'Khargone / West Nimar', 'Khandwa / East Nimar',
       'Sehore', 'Raisen', 'Vidisha', 'Betul', 'Rajgarh', 'Shajapur',
       'Hoshangabad', 'Srikakulam', 'Visakhapatnam', 'East Godavari',
       'West Godavari', 'Krishna', 'Guntur', 'S.P.S. Nellore', 'Kurnool',
       'Ananthapur', 'Kadapa YSR', 'Chittoor', 'Hyderabad', 'Nizamabad',
       'Medak', 'Mahabubnagar', 'Nalgonda', 'Warangal', 'Khammam',
       'Karimnagar', 'Adilabad', 'Bangalore', 'Kolar', 'Tumkur', 'Mysore',
       'Mandya', 'Hassan', 'Shimoge', 'Chickmagalur', 'Chitradurga',
       'Bellary', 'Dharwad', 'Belgaum', 'Bijapur / Vijayapura', 'Bidar',
       'Raichur', 'Gulbarga / Kalaburagi', 'Dakshina Kannada',
       'Uttara Kannada', 'Kodagu / Coorg',
       'Chengalpattu MGR / Kanchipuram', 'South Arcot / Cuddalore',
       'North Arcot / Vellore', 'Salem', 'Coimbatore',
       'Tiruchirapalli / Trichy', 'Thanjavur', 'Madurai',
       'Ramananthapuram', 'Thirunelveli', 'The Nilgiris', 'Kanyakumari',
       'Bombay', 'Thane', 'Raigad', 'Ratnagiri', 'Nasik', 'Dhule',
       'Jalgaon', 'Ahmednagar', 'Pune', 'Satara', 'Sangli', 'Solapur',
       'Kolhapur', 'Aurangabad', 'Parbhani', 'Beed', 'Nanded',
       'Osmanabad', 'Buldhana', 'Akola', 'Amarawati', 'Yeotmal', 'Wardha',
       'Nagpur', 'Bhandara', 'Chandrapur', 'Ahmedabad', 'Amreli',
       'Banaskantha', 'Bharuch', 'Vadodara / Baroda', 'Bhavnagar',
       'Valsad', 'Dangs', 'Jamnagar', 'Junagadh', 'Kheda', 'Kutch',
       'Mehsana', 'Panchmahal', 'Rajkot', 'Sabarkantha', 'Surat',
       'Surendranagar', 'Ajmer', 'Alwar', 'Banswara', 'Barmer',
       'Bharatpur', 'Bhilwara', 'Bikaner', 'Bundi', 'Chittorgarh',
       'Churu', 'Dungarpur', 'Ganganagar', 'Jaipur', 'Jaisalmer',
       'Jalore', 'Jhalawar', 'Jhunjhunu', 'Jodhpur', 'Kota', 'Nagaur',
       'Pali', 'Swami Madhopur', 'Sikar', 'Sirohi', 'Tonk', 'Udaipur',
       'Gurdaspur', 'Amritsar', 'Kapurthala', 'Jalandhar', 'Hoshiarpur',
       'Roopnagar / Ropar', 'Ludhiana', 'Ferozpur', 'Bhatinda', 'Sangrur',
       'Patiala', 'Hissar', 'Gurgaon', 'Jind', 'Mahendragarh / Narnaul',
       'Ambala', 'Karnal', 'Rohtak', 'Saharanpur', 'Muzaffarnagar',
       'Meerut', 'Buland Shahar', 'Aligarh', 'Mathura', 'Agra',
       'Mainpuri', 'Etah', 'Bareilly', 'Budaun', 'Moradabad',
       'Shahjahanpur', 'Pilibhit', 'Rampur', 'Bijnor', 'Farrukhabad',
       'Etawah', 'Kanpur', 'Fatehpur', 'Allahabad', 'Jhansi', 'Jalaun',
       'Hamirpur', 'Banda', 'Varanasi', 'Mirzpur', 'Jaunpur', 'Ghazipur',
       'Ballia', 'Gorakhpur', 'Deoria', 'Basti', 'Azamgarh', 'Lucknow',
       'Unnao', 'Rae-Bareily', 'Sitapur', 'Hardoi', 'Kheri', 'Faizabad',
       'Gonda', 'Bahraich', 'Sultanpur', 'Pratapgarh', 'Barabanki',
       'Nainital', 'Almorah', 'Pithorgarh', 'Chamoli', 'Uttar Kashi',
       'Tehri Garhwal', 'Garhwal', 'Dehradun', 'Cachar', 'Darrang',
       'Dibrugarh', 'Goalpara', 'Kamrup', 'Karbi Anglong', 'Lakhimpur',
       'North Cachar Hil / Dima hasao', 'Nagaon', 'Sibsagar', 'Bilashpur',
       'Chamba', 'Kangra', 'Kinnaur', 'Kullu', 'Lahul & Spiti', 'Solan',
       'Mandi', 'Shimla', 'Sirmaur', 'Alappuzha', 'Kannur', 'Eranakulam',
       'Kottayam', 'Kozhikode', 'Malappuram', 'Palakkad', 'Kollam',
       'Thrissur', 'Thiruvananthapuram', 'Balasore', 'Bolangir',
       'Cuttack', 'Dhenkanal', 'Ganjam', 'Kalahandi', 'Keonjhar',
       'Koraput', 'Mayurbhanja', 'Phulbani ( Kandhamal )', 'Puri',
       'Sambalpur', 'Sundargarh', '24 Parganas', 'Nadia', 'Murshidabad',
       'Burdwan', 'Birbhum', 'Bankura', 'Hooghly', 'Howrah', 'Jalpaiguri',
       'Darjeeling', 'Malda', 'Cooch Behar', 'Purulia', 'Midnapur',
       'West Dinajpur', 'Champaran', 'Muzaffarpur', 'Darbhanga',
       'Saharsa', 'Purnea', 'Saran', 'Patna', 'Mungair', 'Bhagalpur',
       'Santhal Paragana / Dumka',
       'Shahabad (now part of Bhojpur district)', 'Gaya', 'Hazaribagh',
       'Dhanbad', 'Palamau', 'Ranchi', 'Singhbhum'], dtype=object)

In [75]:
agri_df["Dist Name"].isna().sum()

np.int64(0)

In [76]:
agri_df["Dist Name"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
16141    False
16142    False
16143    False
16144    False
16145    False
Name: Dist Name, Length: 16146, dtype: bool

In [78]:
agri_df.columns

Index(['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name',
       'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)',
       'RICE YIELD (Kg per ha)', 'WHEAT AREA (1000 ha)',
       'WHEAT PRODUCTION (1000 tons)', 'WHEAT YIELD (Kg per ha)',
       'KHARIF SORGHUM AREA (1000 ha)',
       'KHARIF SORGHUM PRODUCTION (1000 tons)',
       'KHARIF SORGHUM YIELD (Kg per ha)', 'RABI SORGHUM AREA (1000 ha)',
       'RABI SORGHUM PRODUCTION (1000 tons)', 'RABI SORGHUM YIELD (Kg per ha)',
       'SORGHUM AREA (1000 ha)', 'SORGHUM PRODUCTION (1000 tons)',
       'SORGHUM YIELD (Kg per ha)', 'PEARL MILLET AREA (1000 ha)',
       'PEARL MILLET PRODUCTION (1000 tons)', 'PEARL MILLET YIELD (Kg per ha)',
       'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)',
       'MAIZE YIELD (Kg per ha)', 'FINGER MILLET AREA (1000 ha)',
       'FINGER MILLET PRODUCTION (1000 tons)',
       'FINGER MILLET YIELD (Kg per ha)', 'BARLEY AREA (1000 ha)',
       'BARLEY PRODUCTION (1000 tons)', 'BARLEY YIELD (Kg per ha)',
       'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)',
       'CHICKPEA YIELD (Kg per ha)', 'PIGEONPEA AREA (1000 ha)',
       'PIGEONPEA PRODUCTION (1000 tons)', 'PIGEONPEA YIELD (Kg per ha)',
       'MINOR PULSES AREA (1000 ha)', 'MINOR PULSES PRODUCTION (1000 tons)',
       'MINOR PULSES YIELD (Kg per ha)', 'GROUNDNUT AREA (1000 ha)',
       'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
       'SESAMUM AREA (1000 ha)', 'SESAMUM PRODUCTION (1000 tons)',
       'SESAMUM YIELD (Kg per ha)', 'RAPESEED AND MUSTARD AREA (1000 ha)',
       'RAPESEED AND MUSTARD PRODUCTION (1000 tons)',
       'RAPESEED AND MUSTARD YIELD (Kg per ha)', 'SAFFLOWER AREA (1000 ha)',
       'SAFFLOWER PRODUCTION (1000 tons)', 'SAFFLOWER YIELD (Kg per ha)',
       'CASTOR AREA (1000 ha)', 'CASTOR PRODUCTION (1000 tons)',
       'CASTOR YIELD (Kg per ha)', 'LINSEED AREA (1000 ha)',
       'LINSEED PRODUCTION (1000 tons)', 'LINSEED YIELD (Kg per ha)',
       'SUNFLOWER AREA (1000 ha)', 'SUNFLOWER PRODUCTION (1000 tons)',
       'SUNFLOWER YIELD (Kg per ha)', 'SOYABEAN AREA (1000 ha)',
       'SOYABEAN PRODUCTION (1000 tons)', 'SOYABEAN YIELD (Kg per ha)',
       'OILSEEDS AREA (1000 ha)', 'OILSEEDS PRODUCTION (1000 tons)',
       'OILSEEDS YIELD (Kg per ha)', 'SUGARCANE AREA (1000 ha)',
       'SUGARCANE PRODUCTION (1000 tons)', 'SUGARCANE YIELD (Kg per ha)',
       'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)',
       'COTTON YIELD (Kg per ha)', 'FRUITS AREA (1000 ha)',
       'VEGETABLES AREA (1000 ha)', 'FRUITS AND VEGETABLES AREA (1000 ha)',
       'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)',
       'FODDER AREA (1000 ha)'],
      dtype='object')

In [ ]:

agric_df=agric_df.columns = ['dist_cod',
'year',
'state_code',
'state_name',
'district_name',
'rice_area',
'rice_production',
'rice_yield',
'wheat_area',
'wheat_production',
'wheat_yield',
'kharif_sorghum_area',
'kharif_sorghum_production',
'kharif_sorghum_yield',
'rabi_sorghum_area',
'rabi_sorghum_production',
'rabi_sorghum_yield',
'sorghum_area',
'sorghum_production',
'sorghum_yield',
'pearl_millet_area',
'pearl_millet_production',
'pearl_millet_yield',
'maize_area',
'maize_production',
'maize_yield',
'finger_millet_area',
'finger_millet_production',
'finger_millet_yield',
'barley_area',
'barley_production',
'barley_yield',
'chickpea_area',
'chickpea_production',
'chickpea_yield',
'pigeonpea_area',
'pigeonpea_production',
'pigeonpea_yield',
'minor_pulses_area',
'minor_pulses_production',
'minor_pulses_yield',
'groundnut_area',
'groundnut_production',
'groundnut_yield',
'sesamum_area',
'sesamum_production',
'sesamum_yield',
'rapeseed_and_mustard_area',
'rapeseed_and_mustard_production',
'rapeseed_and_mustard_yield',
'safflower_area',
'safflower_production',
'safflower_yield',
'castor_area',
'castor_production',
'castor_yield',
'linseed_area',
'linseed_production',
'linseed_yield',
'sunflower_area',
'sunflower_production',
'sunflower_yield',
'soyabean_area',
'soyabean_production',
'soyabean_yield',
'oilseeds_area',
'oilseeds_production',
'oilseeds_yield',
'sugarcane_area',
'sugarcane_production',
'sugarcane_yield',
'cotton_area',
'cotton_production',
'cotton_yield',
'fruits_area',
'vegetables_area',
'fruits_and_vegetables_area',
'potato_area',
'onion_area',
'fodder_area']

AttributeError: 'list' object has no attribute 'columns'

In [150]:
db_url = "postgresql://krishna:4YEGQ6WJavQHCDcyXmRH5ltplDbSZ3Bd@dpg-d1t45hmr433s73evet20-a.singapore-postgres.render.com/krishna_agri"
from sqlalchemy import create_engine, inspect 
engine = create_engine(db_url)

In [151]:
agri_df.to_sql('agri_stats',engine,index=False,index_label=False,if_exists='replace')

234

In [153]:
agri_df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [ ]:
agri_df.pivot(index='Category', columns='Subcategory', values='Value')

In [154]:
data = {'Category': ['A', 'A', 'B', 'B'], 'Subcategory': ['X', 'Y', 'X', 'Y'], 'Value': [10, 20, 15, 25]}
df_pivot = pd.DataFrame(data)
print("\nOriginal DataFrame for Pivoting:")
print(df_pivot)

Original DataFrame for Pivoting:
  Category Subcategory  Value
0        A           X     10
1        A           Y     20
2        B           X     15
3        B           Y     25

In [155]:
pivoted_df = df_pivot.pivot(index='Category', columns='Subcategory', values='Value')
print("\nPivoted DataFrame:")
print(pivoted_df)

Pivoted DataFrame:
Subcategory   X   Y
Category
A            10  20
B            15  25

In [159]:
agri_df.pivot(index='Year', columns='Year', values='RICE AREA (1000 ha)')

ValueError: The name Year occurs multiple times, use a level number