In [640]:
import psycopg2

In [641]:
import pandas as pd

In [642]:
import streamlit as st

In [643]:
# Database connection parameters
host = "dpg-d1t45hmr433s73evet20-a.singapore-postgres.render.com"  # Replace with your database host
database = "projtraffic_logs"  # Replace with your database name
user = "krishna"  # Replace with your username
password = "4YEGQ6WJavQHCDcyXmRH5ltplDbSZ3Bd"  # Replace with your password

try:
    # Establish the connection
    connection = psycopg2.connect(
        host=host,
        database=database,
        user=user,
        password=password
    )
    print("Connection to PostgreSQL database successful!")

    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Example query
    cursor.execute("SELECT version();")
    db_version = cursor.fetchone()
    print(f"PostgreSQL Database Version: {db_version}")

except Exception as error:
    print(f"Error connecting to PostgreSQL database: {error}")

finally:
    # Close the connection
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection closed.")

Connection to PostgreSQL database successful!
PostgreSQL Database Version: ('PostgreSQL 16.9 (Debian 16.9-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)
PostgreSQL connection closed.

In [644]:
db_url = "postgresql://krishna:4YEGQ6WJavQHCDcyXmRH5ltplDbSZ3Bd@dpg-d1t45hmr433s73evet20-a.singapore-postgres.render.com/krishna_traffic"
from sqlalchemy import create_engine, inspect 
engine = create_engine(db_url)

In [645]:
new_traffic_df

Empty DataFrame
Columns: [country_name, driver_gender, driver_age, driver_race, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number, stop_datetime]
Index: []

In [646]:
sheet_id = "16qEUKckLFy7j1qoSd1bSQURn9QXDb6ffSBAWzRkPsSg"
sheet_name = "sheet1"


url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
traffic_df = pd.read_csv(url)

C:\Users\Krishna\AppData\Local\Temp\ipykernel_19544\1507548318.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  traffic_df = pd.read_csv(url)

In [647]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [648]:
#traffic_df.to_sql('traffic_stops',engine,index=False,if_exists='replace')

In [ ]:
#query="select * from traffic_stops where country_name = 'India'"
#new_traffic_df = pd.read_sql(query,engine)

In [ ]:
#new_traffic_df

Empty DataFrame
Columns: [country_name, driver_gender, driver_age, driver_race, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number, stop_datetime]
Index: []

In [651]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [652]:
traffic_df.describe()

       driver_age_raw   driver_age
count    65538.000000  65538.00000
mean        49.055998     49.11221
std         18.174699     18.15012
min         18.000000     18.00000
25%         33.000000     34.00000
50%         49.000000     49.00000
75%         65.000000     65.00000
max         80.000000     80.00000

In [653]:
traffic_df.describe(include=object)

,stop_date,stop_time,country_name,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,stop_duration,vehicle_number
count,65538,65538,65538,65538,65538,65538,65538,43818,65538,65538,65538
unique,46,1440,3,2,5,5,5,2,3,3,65538
top,2020-01-01,0:00:00,India,F,White,Seatbelt,Other,Frisk,Warning,30+ Min,UP76DY3473
freq,1440,46,21998,32881,13168,13204,13194,21971,21966,21958,1

In [654]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [655]:
traffic_df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [656]:
traffic_df["stop_date"].isna().sum()

np.int64(0)

In [657]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [658]:
traffic_df = traffic_df.dropna()

In [659]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,India,M,47,70,Hispanic,Seatbelt,Signal,False,Vehicle Search,Ticket,True,16-30 Min,True,WB25SO5088
65532,2020-02-15,12:12:00,India,M,50,62,White,Other,Seatbelt,True,Frisk,Arrest,True,30+ Min,True,KA83LM2787
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328

In [660]:
traffic_df = traffic_df.drop_duplicates()

In [661]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,India,M,47,70,Hispanic,Seatbelt,Signal,False,Vehicle Search,Ticket,True,16-30 Min,True,WB25SO5088
65532,2020-02-15,12:12:00,India,M,50,62,White,Other,Seatbelt,True,Frisk,Arrest,True,30+ Min,True,KA83LM2787
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328

In [662]:
traffic_df['country_name'] = traffic_df['country_name'].str.upper()
traffic_df['driver_gender'] = traffic_df['driver_gender'].str.upper()
traffic_df['driver_race'] = traffic_df['driver_race'].str.upper()
traffic_df['violation_raw'] = traffic_df['violation_raw'].str.upper()
traffic_df['violation'] = traffic_df['violation'].str.upper()
traffic_df['search_type'] = traffic_df['search_type'].str.upper()
traffic_df['stop_outcome'] = traffic_df['stop_outcome'].str.upper()
traffic_df['vehicle_number'] = traffic_df['vehicle_number'].str.upper()

In [663]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,CANADA,M,59,19,ASIAN,DRUNK DRIVING,SPEEDING,True,VEHICLE SEARCH,TICKET,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,INDIA,M,35,58,OTHER,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,BLACK,SIGNAL VIOLATION,SPEEDING,False,FRISK,TICKET,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,CANADA,M,26,76,BLACK,SPEEDING,DUI,True,FRISK,WARNING,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,CANADA,M,62,75,OTHER,SPEEDING,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,47,70,HISPANIC,SEATBELT,SIGNAL,False,VEHICLE SEARCH,TICKET,True,16-30 Min,True,WB25SO5088
65532,2020-02-15,12:12:00,INDIA,M,50,62,WHITE,OTHER,SEATBELT,True,FRISK,ARREST,True,30+ Min,True,KA83LM2787
65533,2020-02-15,12:13:00,INDIA,F,54,48,BLACK,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,CANADA,F,18,35,HISPANIC,SEATBELT,OTHER,True,VEHICLE SEARCH,TICKET,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,ASIAN,SEATBELT,DUI,True,FRISK,TICKET,True,30+ Min,True,GJ33MX8328

In [664]:
traffic_df.dtypes

stop_date             object
stop_time             object
country_name          object
driver_gender         object
driver_age_raw         int64
driver_age             int64
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested             bool
stop_duration         object
drugs_related_stop      bool
vehicle_number        object
dtype: object

In [665]:
#traffic_df['stop_date'] = pd.to_datetime(traffic_df['stop_date'])
traffic_df['stop_date'] = traffic_df['stop_date'].astype(object)
traffic_df['driver_age'] = traffic_df['driver_age'].astype(int)
traffic_df['search_conducted'] = traffic_df['search_conducted'].astype(bool)
traffic_df['is_arrested'] = traffic_df['is_arrested'].astype(bool)
traffic_df['drugs_related_stop'] = traffic_df['drugs_related_stop'].astype(bool)
traffic_df['vehicle_number'] = traffic_df['vehicle_number'].astype(object)

In [666]:
traffic_df.dtypes

stop_date             object
stop_time             object
country_name          object
driver_gender         object
driver_age_raw         int64
driver_age             int64
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested             bool
stop_duration         object
drugs_related_stop      bool
vehicle_number        object
dtype: object

In [667]:
traffic_df = traffic_df.drop(['violation_raw'], axis=1)
traffic_df = traffic_df.drop(['driver_age_raw'], axis=1)

In [668]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,16-30 Min,True,WB25SO5088
65532,2020-02-15,12:12:00,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,30+ Min,True,KA83LM2787
65533,2020-02-15,12:13:00,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,30+ Min,True,GJ33MX8328

In [669]:
for X in traffic_df.index:
	if traffic_df.loc[X,"stop_duration"] == '16-30 Min':
		traffic_df.loc[X, "stop_duration"] = '30'
for X in traffic_df.index:
	if traffic_df.loc[X,"stop_duration"] == '0-15 Min':
		traffic_df.loc[X, "stop_duration"] = '15'
for X in traffic_df.index:
	if traffic_df.loc[X,"stop_duration"] == '30+ Min':
		traffic_df.loc[X, "stop_duration"] = '60'

In [670]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473
1,2020-01-01,0:01:00,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264
3,2020-01-01,0:03:00,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807
4,2020-01-01,0:04:00,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088
65532,2020-02-15,12:12:00,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787
65533,2020-02-15,12:13:00,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568
65534,2020-02-15,12:14:00,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328

In [671]:
traffic_df["violation"].unique()

array(['SPEEDING', 'OTHER', 'DUI', 'SEATBELT', 'SIGNAL'], dtype=object)

In [672]:
traffic_df["search_type"].unique()

array(['VEHICLE SEARCH', 'FRISK'], dtype=object)

In [673]:
traffic_df["stop_outcome"].unique()

array(['TICKET', 'ARREST', 'WARNING'], dtype=object)

In [674]:
traffic_df['stop_time'].info()

<class 'pandas.core.series.Series'>
Index: 43818 entries, 0 to 65535
Series name: stop_time
Non-Null Count  Dtype
--------------  -----
43818 non-null  object
dtypes: object(1)
memory usage: 1.7+ MB

In [675]:
traffic_df["stop_time"].unique()

array(['0:00:00', '0:01:00', '0:02:00', ..., '0:51:00', '13:48:00',
       '22:02:00'], shape=(1440,), dtype=object)

In [676]:
#traffic_df['stop_date'] = traffic_df['stop_date'].astype(object)

In [677]:
traffic_df['stop_date'].describe()

count          43818
unique            46
top       2020-01-24
freq            1001
Name: stop_date, dtype: object

In [678]:
traffic_df['stop_time'].describe()

count        43818
unique        1440
top       12:15:00
freq            41
Name: stop_time, dtype: object

In [679]:
traffic_df.describe()

         driver_age
count  43818.000000
mean      49.149208
std       18.147199
min       18.000000
25%       34.000000
50%       49.000000
75%       65.000000
max       80.000000

In [680]:
traffic_df.info

<bound method DataFrame.info of         stop_date stop_time country_name driver_gender  driver_age  \
0      2020-01-01   0:00:00       CANADA             M          19
1      2020-01-01   0:01:00        INDIA             M          58
2      2020-01-01   0:02:00          USA             M          76
3      2020-01-01   0:03:00       CANADA             M          76
4      2020-01-01   0:04:00       CANADA             M          75
...           ...       ...          ...           ...         ...
65531  2020-02-15  12:11:00        INDIA             M          70
65532  2020-02-15  12:12:00        INDIA             M          62
65533  2020-02-15  12:13:00        INDIA             F          48
65534  2020-02-15  12:14:00       CANADA             F          35
65535  2020-02-15  12:15:00          USA             M          41

      driver_race violation  search_conducted     search_type stop_outcome  \
0           ASIAN  SPEEDING              True  VEHICLE SEARCH       TICKET
1           OTHER     OTHER             False  VEHICLE SEARCH       ARREST
2           BLACK  SPEEDING             False           FRISK       TICKET
3           BLACK       DUI              True           FRISK      WARNING
4           OTHER     OTHER             False  VEHICLE SEARCH       ARREST
...           ...       ...               ...             ...          ...
65531    HISPANIC    SIGNAL             False  VEHICLE SEARCH       TICKET
65532       WHITE  SEATBELT              True           FRISK       ARREST
65533       BLACK     OTHER             False  VEHICLE SEARCH       ARREST
65534    HISPANIC     OTHER              True  VEHICLE SEARCH       TICKET
65535       ASIAN       DUI              True           FRISK       TICKET

       is_arrested stop_duration  drugs_related_stop vehicle_number
0             True            30                True     UP76DY3473
1             True            30                True     RJ83PZ4441
2             True            30                True     RJ32OM7264
3            False            15                True     RJ76TI3807
4             True            30               False     WB63BB8305
...            ...           ...                 ...            ...
65531         True            30                True     WB25SO5088
65532         True            60                True     KA83LM2787
65533         True            30               False     DL56GW6568
65534        False            30                True     TN73EO7098
65535         True            60                True     GJ33MX8328

[43818 rows x 14 columns]>

In [681]:
#traffic_df['stop_date']=traffic_df['stop_date'].astype(str).str.split(" ").str[0]

In [682]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473
1,2020-01-01,0:01:00,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264
3,2020-01-01,0:03:00,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807
4,2020-01-01,0:04:00,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088
65532,2020-02-15,12:12:00,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787
65533,2020-02-15,12:13:00,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568
65534,2020-02-15,12:14:00,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328

In [683]:
#traffic_df['stop_datetime'] = traffic_df['stop_date']+ " " + traffic_df['stop_time']

In [684]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473
1,2020-01-01,0:01:00,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264
3,2020-01-01,0:03:00,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807
4,2020-01-01,0:04:00,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088
65532,2020-02-15,12:12:00,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787
65533,2020-02-15,12:13:00,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568
65534,2020-02-15,12:14:00,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328

In [685]:
traffic_df['stop_datetime']=pd.to_datetime(traffic_df['stop_date'] + ' ' + traffic_df['stop_time'])

In [686]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,stop_datetime
0,2020-01-01,0:00:00,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,2020-02-15,12:11:00,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088,2020-02-15 12:11:00
65532,2020-02-15,12:12:00,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787,2020-02-15 12:12:00
65533,2020-02-15,12:13:00,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568,2020-02-15 12:13:00
65534,2020-02-15,12:14:00,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098,2020-02-15 12:14:00
65535,2020-02-15,12:15:00,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328,2020-02-15 12:15:00

In [687]:
traffic_df = traffic_df.drop(['stop_date'], axis=1)

In [688]:
traffic_df = traffic_df.drop(['stop_time'], axis=1)

In [689]:
#traffic_df = traffic_df.drop(['stop_datetime'], axis=1)

In [690]:
traffic_df

,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,stop_datetime
0,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473,2020-01-01 00:00:00
1,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441,2020-01-01 00:01:00
2,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264,2020-01-01 00:02:00
3,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807,2020-01-01 00:03:00
4,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088,2020-02-15 12:11:00
65532,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787,2020-02-15 12:12:00
65533,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568,2020-02-15 12:13:00
65534,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098,2020-02-15 12:14:00
65535,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328,2020-02-15 12:15:00

In [691]:
traffic_df['violation'].value_counts()

violation
SPEEDING    8834
SEATBELT    8820
OTHER       8769
SIGNAL      8712
DUI         8683
Name: count, dtype: int64

In [692]:
traffic_df['search_type'].value_counts()

search_type
FRISK             21971
VEHICLE SEARCH    21847
Name: count, dtype: int64

In [693]:
traffic_df['driver_gender'].value_counts()

driver_gender
F    22025
M    21793
Name: count, dtype: int64

In [694]:
traffic_df['country_name'].value_counts()

country_name
INDIA     14732
CANADA    14570
USA       14516
Name: count, dtype: int64

In [695]:
traffic_df['stop_outcome'].value_counts()

stop_outcome
WARNING    14758
TICKET     14533
ARREST     14527
Name: count, dtype: int64

In [696]:
#traffic_df.to_sql('traffic_stops',engine,index=False,if_exists='replace')

In [697]:
traffic_df

,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,stop_datetime
0,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473,2020-01-01 00:00:00
1,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441,2020-01-01 00:01:00
2,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264,2020-01-01 00:02:00
3,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807,2020-01-01 00:03:00
4,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088,2020-02-15 12:11:00
65532,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787,2020-02-15 12:12:00
65533,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568,2020-02-15 12:13:00
65534,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098,2020-02-15 12:14:00
65535,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328,2020-02-15 12:15:00

In [698]:
#traffic_df.set_axis(['country_name', 'driver_gender','driver_age','driver_race','violation','search_conducted','search_type','stop_outcome','is_arrested','stop_duration','drugs_related_stop','vehicle_number','stop_datetime'], axis=1)

In [699]:
traffic_df

,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,stop_datetime
0,CANADA,M,19,ASIAN,SPEEDING,True,VEHICLE SEARCH,TICKET,True,30,True,UP76DY3473,2020-01-01 00:00:00
1,INDIA,M,58,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,True,RJ83PZ4441,2020-01-01 00:01:00
2,USA,M,76,BLACK,SPEEDING,False,FRISK,TICKET,True,30,True,RJ32OM7264,2020-01-01 00:02:00
3,CANADA,M,76,BLACK,DUI,True,FRISK,WARNING,False,15,True,RJ76TI3807,2020-01-01 00:03:00
4,CANADA,M,75,OTHER,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,INDIA,M,70,HISPANIC,SIGNAL,False,VEHICLE SEARCH,TICKET,True,30,True,WB25SO5088,2020-02-15 12:11:00
65532,INDIA,M,62,WHITE,SEATBELT,True,FRISK,ARREST,True,60,True,KA83LM2787,2020-02-15 12:12:00
65533,INDIA,F,48,BLACK,OTHER,False,VEHICLE SEARCH,ARREST,True,30,False,DL56GW6568,2020-02-15 12:13:00
65534,CANADA,F,35,HISPANIC,OTHER,True,VEHICLE SEARCH,TICKET,False,30,True,TN73EO7098,2020-02-15 12:14:00
65535,USA,M,41,ASIAN,DUI,True,FRISK,TICKET,True,60,True,GJ33MX8328,2020-02-15 12:15:00

In [700]:
#traffic_df.to_sql('stop_details',engine,index=False,if_exists='replace')

In [701]:
#traffic_df.reset_index(drop=True, inplace=True)

In [702]:
print(traffic_df)

      country_name driver_gender  driver_age driver_race violation  \
0           CANADA             M          19       ASIAN  SPEEDING
1            INDIA             M          58       OTHER     OTHER
2              USA             M          76       BLACK  SPEEDING
3           CANADA             M          76       BLACK       DUI
4           CANADA             M          75       OTHER     OTHER
...            ...           ...         ...         ...       ...
65531        INDIA             M          70    HISPANIC    SIGNAL
65532        INDIA             M          62       WHITE  SEATBELT
65533        INDIA             F          48       BLACK     OTHER
65534       CANADA             F          35    HISPANIC     OTHER
65535          USA             M          41       ASIAN       DUI

       search_conducted     search_type stop_outcome  is_arrested  \
0                  True  VEHICLE SEARCH       TICKET         True
1                 False  VEHICLE SEARCH       ARREST         True
2                 False           FRISK       TICKET         True
3                  True           FRISK      WARNING        False
4                 False  VEHICLE SEARCH       ARREST         True
...                 ...             ...          ...          ...
65531             False  VEHICLE SEARCH       TICKET         True
65532              True           FRISK       ARREST         True
65533             False  VEHICLE SEARCH       ARREST         True
65534              True  VEHICLE SEARCH       TICKET        False
65535              True           FRISK       TICKET         True

      stop_duration  drugs_related_stop vehicle_number       stop_datetime
0                30                True     UP76DY3473 2020-01-01 00:00:00
1                30                True     RJ83PZ4441 2020-01-01 00:01:00
2                30                True     RJ32OM7264 2020-01-01 00:02:00
3                15                True     RJ76TI3807 2020-01-01 00:03:00
4                30               False     WB63BB8305 2020-01-01 00:04:00
...             ...                 ...            ...                 ...
65531            30                True     WB25SO5088 2020-02-15 12:11:00
65532            60                True     KA83LM2787 2020-02-15 12:12:00
65533            30               False     DL56GW6568 2020-02-15 12:13:00
65534            30                True     TN73EO7098 2020-02-15 12:14:00
65535            60                True     GJ33MX8328 2020-02-15 12:15:00

[43818 rows x 13 columns]

In [703]:
traffic_df.to_sql('stop_details',engine,index=False,index_label=False,if_exists='replace')

818

In [704]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43818 entries, 0 to 65535
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_name        43818 non-null  object
 1   driver_gender       43818 non-null  object
 2   driver_age          43818 non-null  int64
 3   driver_race         43818 non-null  object
 4   violation           43818 non-null  object
 5   search_conducted    43818 non-null  bool
 6   search_type         43818 non-null  object
 7   stop_outcome        43818 non-null  object
 8   is_arrested         43818 non-null  bool
 9   stop_duration       43818 non-null  object
 10  drugs_related_stop  43818 non-null  bool
 11  vehicle_number      43818 non-null  object
 12  stop_datetime       43818 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), int64(1), object(8)
memory usage: 4.8+ MB

In [705]:
traffic_stop=traffic_df.copy()

In [706]:
traffic_stop.to_sql('traffic_stop',engine,index=False,index_label=False,if_exists='replace')

818

In [707]:
traffic_stop['stop_outcome'].value_counts()

stop_outcome
WARNING    14758
TICKET     14533
ARREST     14527
Name: count, dtype: int64

In [708]:
traffic_stop['violation'].value_counts()

violation
SPEEDING    8834
SEATBELT    8820
OTHER       8769
SIGNAL      8712
DUI         8683
Name: count, dtype: int64

In [709]:
traffic_stop['country_name'].value_counts()

country_name
INDIA     14732
CANADA    14570
USA       14516
Name: count, dtype: int64

In [710]:
traffic_stop['driver_race'].value_counts()

driver_race
OTHER       8807
BLACK       8789
ASIAN       8772
WHITE       8726
HISPANIC    8724
Name: count, dtype: int64

In [712]:
traffic_stop['stop_datetime'].shape[0]

43818